body {
  background: rgb(36, 36, 129);
}

.empty {
  display: inline-block;
  height: 160px;
  width: 160px;
  margin: 10px;
  border: 2px salmon dotted;
  background-color: white;
}

.fill {
  background: rgb(161, 189, 6);
  position: relative;
  width: 150px;
  height: 150px;
  top: 5px;
  left: 5px;
  cursor: grab;
}

.hold {
  border: solid #ccc 4px;
}

.hovered {
  border-style: dashed;
  background: #f4f4f4;
}

.invisible {
  display: none;
}

@media (max-width: 800px) {}